.idea/
.ruff_cache/
crybar/
**/bin/
!/npm/bin/
**/obj/
native/*.dll
native/*.lib
native/*.exp
native/*.obj
generated/
__pycache__/
/package/
/artifacts/
/npm/runtime/
/npm/node_modules/
/npm/*.tgz
/npm/package-lock.json
/npm/LICENSE
